@model List<CRUD_app.Models.Entities.Professor>
<div class="row">
    <div class="col-10"><h1>All Professors</h1></div>
    <div class="col my-auto text-end"><a class="btn btn-warning" asp-controller="Professors" asp-action="Add">Add New</a></div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var professor in Model) {
            <tr>
                <td>@professor.Id</td>
                <td>@professor.Name</td>
                <td>@professor.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="professors" asp-action="Edit" asp-route-id="@professor.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
